numpy          
pandas           
scikit-learn      
imbalanced-learn  
tensorflow       
torch
ffmpeg-python
ffprobe-python           
transformers  
sentencepiece
sentencepiece   
joblib            
gTTS              
pydub            
speechrecognition 
streamlit        
streamlit-player
gdown   
tf-keras      