numpy          
pandas           
scikit-learn      
imbalanced-learn  
tensorflow       
torch
pydub
ffmpeg-python         
transformers  
sentencepiece
sentencepiece   
joblib            
gTTS              
pydub            
speechrecognition 
streamlit        
streamlit-player
gdown   
tf-keras      
sacremoses